In [1]:
!pip3 install pandas dash

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: dash in c:\users\admin\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: flask-compress in c:\users\admin\anaconda3\lib\site-packages (from dash) (1.12)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in c:\users\admin\anaconda3\lib\site-packages (from dash) (5.6.0)
Requirement already satisfied: Flask>=1.0.4 in c:\users\admin\anaconda3\lib\site-packages (from dash) (1.1.2)
Requirement already satisfied: dash-table==5.0.0 in c:\users\admin\anaconda3\lib\site-packages (from dash) (5.0.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\admin\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: click>=5.1 in c:\users\admin\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (8.0.3)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\admin\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\admin\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.0.2)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from click>=5.1->Flask>=1.0.4->dash) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\admin\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash) (1.1.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\admin\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (1.16.0)
Requirement already satisfied: brotli in c:\users\admin\anaconda3\lib\site-packages (from flask-compress->dash) (1.0.9)

In [2]:
#Read the data
import pandas as pd
import plotly.graph_objects as go
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output

C:\Users\ADMIN\AppData\Local\Temp/ipykernel_3136/1109206633.py:5: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
C:\Users\ADMIN\AppData\Local\Temp/ipykernel_3136/1109206633.py:6: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc

In [3]:
#Read the data
airline_data = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/airline_data.csv')
airline_data

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26995,821542,2017,1,1,24,2,2017-01-24,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26996,1910565,2013,2,6,27,4,2013-06-27,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26997,9055,2016,3,8,26,5,2016-08-26,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26998,84136,2009,3,8,8,6,2009-08-08,YV,20378,YV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26999,113029,1993,3,7,17,6,1993-07-17,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Create the dash application % get the layout skeleton
app=dash.Dash(__name__)
app
#Updated layout
app.layout=html.Div(children=[html.H1('Airline performance dashboard', style={'textAlign':'center','color':'#503D36','font_size':40}),
                              html.Div(['Input year:',dcc.Input(id='input-year',value='2010',type='number',style={'height':'50px','font_size':35}),],
                                       style={'font_size':40}),
                              html.Br(),
                              html.Br(),
                              html.Div(dcc.Graph(id='line-plot')),
                             ])

# add callback decorator 
@app.callback( Output(component_id='line-plot', component_property='figure'),                
              Input(component_id='input-year', component_property='value')) 
#Add computation to callback function & return graph
def get_graph(entered_year):
    # Select data based on the entered year
    df= airline_data[airline_data['Year']==int(entered_year)]
    line_data = df.groupby('Month')['ArrDelay'].mean().reset_index()
    fig=go.figure(data=go.Scatter(x=line_data['Month'],y=line_data['ArrDelay'],mode='lines',marker=dict(color='green')))
    fig.update_layout(title='ArrDelay vs month',xaxis_title='Month',yaxis_title='Arrdelay')
    return fig
#Run the app
if __name__ == '__main__':     app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)